* {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

body {
    background-color: #2a273f;
    color: #e0def4;
    font-family: 'Nunito', sans-serif;
}

.indexGrid {
    display: grid;
    grid-template-columns: 125px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        'h h h'
        's m m'
        'f f f';
    gap: 5px;
    width: 100vw;
    height: 100vh;
}

.notesGrid {
    display: grid;
    grid-template-columns: 125px 500px 1fr;
    grid-template-rows: 50px 300px 20px 1fr 50px;
    grid-template-areas:
        's h h'
        's m n'
        's m2 n2'
        's m3 n3'
        's f f';
    gap: 5px;
    width: 100vw;
    height: 100vh;
}

.header {
    grid-area: h;
    text-align: right;
}

.side {
    grid-area: s;
    background-color: #393552;
}

.note {
    grid-area: m;
    padding-top: 30px;
}

.foot {
    grid-area: f;
    text-align: center;
}

.createButton {
    grid-area: m;
}

.saveButton {
    grid-area: m2;
}

.deleteButton {
    grid-area: m2;
    padding-left: 100px;
}

.topNav {
    display: inline;
    text-decoration: none;
}

.topNav li {
	display: inline-block;
    margin-right: 40px;
}

.topNav a {
	padding: 1px;
	text-decoration-line: none;
    color: #e0def4;
}

.topNav a:hover {
    text-decoration-line: underline;
    color: #e0def4;
}

.sideNavList {
    padding-top: 50px;
    text-align: center;
}

ul.sideNavList {
    list-style-type: none;
}

a:visited {
    color: #e0def4;
}

.navButtonOpen {
    text-align: left;
    padding-left: 10px;
}

.navButtonClose {
    text-align: right;
    padding-left: 10px;
}

textarea {
    background-color: #59546d;
    color: #e0def4;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    line-height: 1.5;
    border-radius: 10px;
    border: 2px solid #393552;
    max-width: 100%;
}

.createButtonStyled {
    background-color: #59546d;
    color: #9ccfd8;
}

.saveButtonStyled {
    background-color: #59546d;
    color: #9ccfd8;
}

.deleteButtonStyled {
    background-color: #59546d;
    color: #eb6f92;
}

.navButtonStyled {
    background-color: #59546d;
    color: #e0def4;
}

@media screen and (max-width: 375px) {
    .header {
        grid-area: h;
        text-align: left;
        padding-left: 10px;
    }

    .foot {
        grid-area: f;
        text-align: left;
        padding-left: 10px;
    }
}
